:root {
  --timer-button-border-radius: 25px; // not theme mode relatable
  --progress-border-radius: 25px; // not theme mode relatable
  --timer-input-shape: block; // not theme mode relatable
  --font-family: 'Poppins', sans-serif;


  --background-color-primary: rgb(238, 240, 244);

  --timer-box-shadow: rgb(217 218 222) 9.91px 9.91px 15px inset, rgb(255 255 255) -9.91px -9.91px 15px inset;

  --progress-background-color: rgb(235, 239, 246);
  --progress-box-shadow: 9.91px 9.91px 15px #D6D9E0, -9.91px -9.91px 15px #FFFFFF;
  
  --timer-input-color: rgb(234, 238, 247);
  --timer-input-text-shadow: -8px -8px 12px rgba(255,255,255,0.4), 8px 8px 12px rgba(0,0,0,0.08);
  --timer-input-caret-color: lightgrey;
  --timer-input-selection-color: gainsboro;
  --timer-input-selection-background: beige;

  --timer-button-color: #d6d8dc;
  --timer-button-after-color: #bcbec0;
  --timer-button-before-background: linear-gradient(145deg, #ffffff, var(--timer-button-color));
  --timer-button-after-background: linear-gradient(145deg, #cacccf 10%, var(--timer-button-color) 15%, #faf9f9 80%);
  --timer-button-before-box-shadow: 5px 5px 10px #cacccf, -5px -5px 10px #ffffff; 
  --timer-button-after-box-shadow: -3px -3px 7px #cacccf, 3px 3px 7px #ffffff;

  --action-button-color: #c8c9ca;
  --action-button-color-hover: #959697;
  --action-button-box-shadow: var(--timer-button-before-box-shadow);
  --action-button-background: linear-gradient(165deg, #ffffff, var(--timer-button-color));
  --action-button-box-shadow-hover: var(--timer-button-after-box-shadow);
  --action-button-background-hover: linear-gradient(165deg, #cacccf 7%, var(--timer-button-color) 25%, #faf9f9 80%);;
}

:root.dark-theme {
  // --background-color-primary: #333; // #55417b
  --background-color-primary: #092E20;

  --timer-box-shadow: -8px -6px 11px -1px #124731 inset, 8px 6px 20px -1px rgba(0,0,0, 0.40) inset;

  --progress-background-color: #092E20;
  --progress-box-shadow: -4px -4px 6px #124731, 5px 5px 6px rgba(0,0,0, 0.40);

  --timer-input-selection-color: #498f72;
  --timer-input-selection-background: #12473a;
  --timer-input-caret-color: #12473a;

  --timer-input-color: #0d3827e4;
  --timer-input-text-shadow: -4px -4px 6px #124731, 4px 4px 6px rgba(63, 63, 63, 0.08);
  --timer-button-color: #0e3b29;
  --timer-button-after-color: #124731;
  --timer-button-before-background: linear-gradient(145deg, #0f3f2c, #07271a);
  --timer-button-after-background: linear-gradient(145deg, #07271a 15%, #0e3d2a 80%);
  --timer-button-before-box-shadow: var(--progress-box-shadow);
  --timer-button-after-box-shadow: -5px -5px 10px rgba(0,0,0, 0.40), 5px 5px 10px #124731;

  --timer-button-background: --timer-button-before-background;
  --timer-button-background-hover: --timer-button-after-background;

  --timer-button-box-shadow: var(--progress-box-shadow);
  --timer-button-box-shadow-hover: -4px -4px 6px rgba(0,0,0, 0.40), 5px 5px 6px #124731;

  --action-button-color: #498f72;
  --action-button-color-hover: #2f6d53;
  --action-button-box-shadow: -3px -3px 5px #124731, 3px 3px 4px rgba(0,0,0, 0.40);
  --action-button-background: linear-gradient(164deg, #0e3d2a 20%, #092c1e 80%);
  --action-button-box-shadow-hover: -2px -2px 4px rgba(0,0,0, 0.40), 3px 3px 5px #124731e1;
  --action-button-background-hover: linear-gradient(166deg, #051f14 12%, #072418 35%, #0e3d2a 80%);
}
