:root {
  --background-color-primary: rgb(238, 240, 244);

  --timer-box-shadow: rgb(217 218 222) 9.91px 9.91px 15px inset, rgb(255 255 255) -9.91px -9.91px 15px inset;
  --progress-box-shadow: 9.91px 9.91px 15px #D6D9E0, -9.91px -9.91px 15px #FFFFFF;
  
  --timer-input-color: rgb(234, 238, 247);
  --timer-input-text-shadow: -8px -8px 12px rgba(255,255,255,0.4), 8px 8px 12px rgba(0,0,0,0.08);
  --timer-input-caret-color: lightgrey;
  --timer-input-selection-color: gainsboro;
  --timer-input-selection-background: beige;

  --timer-button-color: #d6d8dc;
  --timer-button-after-color: #b4b6b9;
  --timer-button-before-background: linear-gradient(145deg, #ffffff, var(--timer-button-color));
  --timer-button-after-background: linear-gradient(145deg, #cacccf 10%, var(--timer-button-color) 15%, #faf9f9 80%);
  --timer-button-before-box-shadow: 5px 5px 10px #cacccf, -5px -5px 10px #ffffff; 
  --timer-button-after-box-shadow: -5px -5px 10px #cacccf, 5px 5px 10px #ffffff;
}
